<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.covid19.home">

    <application>
        <activity
            android:name="io.covid19.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="io.covid19.home.HomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
