<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.covid19.map">

    <application>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>
